body{
    background-color: lightblue;   
   }
   label{
       font-size: 17px;
   }
   canvas {
        border:5px solid white;
         border-radius:20px;
          animation-name: example;
          animation-duration: 4s;
           margin-top: 50px;
            animation-iteration-count: infinite;
            }
   @keyframes example{
       from{box-shadow: 1px 1px 38px blue;}
       to{box-shadow: 1px 1px 38px darkblue;}
   }
   #show_sketch{
       float: right;
   }
   #time{
float:right;
   }
   #score{
       float:left;
   }